<div  class="course-outside-wrapper">

    <div class="side left-container">
        sdfsdfsdf
    </div>
    
    <div class="center-main-container">
        <div class="center-wrapper">
    
          
    
            <div class="posts">
                <div>FRIEND REQEUST</div>
                
                <div class="friends-list">
                      
                    <ul>
                        <li *ngFor = "let friendRequest of friendRequests">
                            <app-friendsingle-element [isfriendrequestlist]="true" [user] = "friendRequest"></app-friendsingle-element>                
                        </li>
                    </ul>              
                </div>
            </div>

        </div>
    
    </div>
    
    <div class="side right-container">
       
        </div>
</div>
