
<div class="{{displayPopUp ? 'outter-cont-show' : 'outter-cont-hide'}}">
    <div class="exit-button" style="position:fixed;" (click)="removePopUp()">
        {{displayPopUp}}
    </div>
    <div class="friends-list">
        <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBT7KsL_xZ2nFYEjBlrobFShPDFLMzuMhE
          &q=Space+Needle,Seattle+WA">
      </iframe>

    </div>

</div>