
<div class="course-outside-wrapper">
 
    <div class="side left-container">
            <div class="reaction-cont">
                <div>L</div>
                <div>D</div>
                <div>C</div>
            </div>

    </div>

    <div class="center-main-container">
        <div class="center-wrapper">
            <div class="poster">

            </div>

            <div class="post-wrapper">
                <div class="title">
                    This is a project i am Working Alone!!
                </div>

                <div class="tags">
                    #React #about #home
                </div>

                <div class="owner">
                    Adem Cani
                </div>

                <div class="text">
                    English texts for beginners to practice reading and comprehension online and for free. Practicing your comprehension of written English will both improve your vocabulary and understanding of grammar and word order. The texts below are designed to help you develop while giving you an instant evaluation of your progress.
                    English texts for beginners to practice reading and comprehension online and for free. Practicing your comprehension of written English will both improve your vocabulary and understanding of grammar and word order. The texts below are designed to help you develop while giving you an instant evaluation of your progress.
                    English texts for beginners to practice reading and comprehension online and for free. Practicing your comprehension of written English will both improve your vocabulary and understanding of grammar and word order. The texts below are designed to help you develop while giving you an instant evaluation of your progress.

                </div>

            </div>
        </div>

    </div>

    <div class="side right-container">
        sdfsdf
    </div>

</div>